<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1 th:if="${category.categoryId == null}">Add Category</h1>
    <h1 th:if="${category.categoryId != null}">Edit Category</h1>
    <form th:action="@{/admin/categories/addOrEdit}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{categoryId}"/>
        <label>Category Name</label>
        <input type="text" th:field="*{categoryName}" required="required"/>
        <label>Icon</label>
        <input type="file" name="icon" />
        <button type="submit">Save</button>
    </form>
</div>
</html>